<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="homepage.css">
  </head>
  <body>

    <div class="topnav" style="margin-top:3rem;">
    <img id="image" src="https://thumbs.dreamstime.com/b/beautiful-chic-elegant-woman-wearing-hat-fashion-girl-french-style-beret-character-193660117.jpg">
  <a class="active" style = "position:relative; left:700px; margin:1.5rem; font-size:1.8rem; top:2px; font-color:black; " href="login.html">Home</a>
  <a href="#news" style = "position:relative; left:700px; margin:1.5rem; font-size:1.8rem; top:2px; font-color:black; ">News</a>
  <a href="#contact" style = "position:relative; left:700px; margin:1.5rem; font-size:1.8rem; top:2px; font-color:black; ">Contact</a>
  <a href="#about" style = "position:relative; left:700px; margin:1.5rem; font-size:1.8rem; top:2px; text-color:black; ">About</a>

</div>

    <div class="container my-4">

    <hr class="mt-5">


<div id="space">
 <a class="btn btn-primary me-2 " href="#" target="_blank" role="button">Daily Offers<i class="fas fa-download"></i></a>
 <a class="btn" target="_blank" style="color:white;" href="#" role="button">Weekend Takeouts</a>
 <a class="btn btn-success me-2 " target="_blank" href="#" role="button">Seasonal Sales</a>
 <a class="btn btn-dark me-2 " target="_blank" href="#" role="button">Our <i class="fab fa-github ms-2">GiveAways</i></a>

</div>
 <hr class="mb-5"/>

 <nav class="navbar navbar-light bg-light">
  <form class="form-inline" >

    <input class="form-control mr-lg-2 center" cols="25" style="padding:0.5rem;" size="30"  type="search" placeholder="Type Something" aria-label="Search">

    <span class="nav-item dropdown center" >
        <a class="nav-link dropdown-toggle " style="color:black;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose a Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">NEW IN : Clothing</a>
          <a class="dropdown-item" href="#">NEW IN : Footwear & Acc</a>
          <a class="dropdown-item" href="#">Western Wear</a>
          <a class="dropdown-item" href="#">Ethnic Wear</a>
          <a class="dropdown-item" href="#">Night Wear</a>
          <a class="dropdown-item" href="#">Fusion Wear</a>
          <a class="dropdown-item" href="#">Footwear</a>
        </div>
      </span>
    <button class="btn btn-outline-success my-2 my-sm-0 center" type="submit">Search</button>

  </form>
</nav>
<hr class="mb-5"/>

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" style="margin-top:1.5rem;">

 <!--Controls-->
 <div class="controls-top">
   <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
   <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
       class="fas fa-chevron-right"></i></a>
 </div>
 <!--/.Controls-->

 <!--Indicators-->
 <ol class="carousel-indicators">
   <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
   <li data-target="#multi-item-example" data-slide-to="1"></li>

 </ol>
 <!--/.Indicators-->

 <!--Slides-->
 <div class="carousel-inner" role="listbox">

   <!--First slide-->
   <div class="carousel-item active">

     <div class="col-md-3" style="float:left">
      <div class="card mb-2">
         <img class="card-img-top"
           src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
         <div class="card-body">
           <h4 class="card-title">Card title</h4>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
             card's content.</p>
           <a class="btn btn-primary">Button</a>
         </div>
       </div>
     </div>

     <div class="col-md-3" style="float:left">
       <div class="card mb-2">
         <img class="card-img-top"
           src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
         <div class="card-body">
           <h4 class="card-title">Card title</h4>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
             card's content.</p>
           <a class="btn btn-primary">Button</a>
         </div>
       </div>
     </div>

     <div class="col-md-3" style="float:left">
       <div class="card mb-2">
         <img class="card-img-top"
           src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
         <div class="card-body">
           <h4 class="card-title">Card title</h4>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
             card's content.</p>
           <a class="btn btn-primary">Button</a>
         </div>
       </div>
     </div>

      <div class="col-md-3" style="float:left">
      <div class="card mb-2">
         <img class="card-img-top"
           src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
         <div class="card-body">
           <h4 class="card-title">Card title</h4>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
             card's content.</p>
           <a class="btn btn-primary">Button</a>
         </div>
       </div>
     </div>

   </div>
   <!--/.First slide-->

   <!--Second slide-->
   <div class="carousel-item">

     <div class="col-md-3" style="float:left">
       <div class="card mb-2">
         <img class="card-img-top"
           src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
         <div class="card-body">
           <h4 class="card-title">Card title</h4>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
             card's content.</p>
           <a class="btn btn-primary">Button</a>
         </div>
       </div>
     </div>

     <div class="col-md-3" style="float:left">
       <div class="card mb-2">
         <img class="card-img-top"
           src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
         <div class="card-body">
           <h4 class="card-title">Card title</h4>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
             card's content.</p>
           <a class="btn btn-primary">Button</a>
         </div>
       </div>
     </div>

     <div class="col-md-3" style="float:left">
       <div class="card mb-2">
         <img class="card-img-top"
           src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
         <div class="card-body">
           <h4 class="card-title">Card title</h4>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
             card's content.</p>
           <a class="btn btn-primary">Button</a>
         </div>
       </div>
     </div>

     <div class="col-md-3" style="float:left">
       <div class="card mb-2">
         <img class="card-img-top"
           src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
         <div class="card-body">
           <h4 class="card-title">Card title</h4>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
             card's content.</p>
           <a class="btn btn-primary">Button</a>
         </div>
       </div>
     </div>

   </div>
   <!--/.Second slide-->



 </div>
 <!--/.Slides-->

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>
</html>
